---
---
@import "{{ site.theme }}";
body, html, .site-header, .site-footer, .page-content {
  background-color: #121212 !important;
  color: #e0e0e0 !important;
}

a, a:visited {
  color: #4da6ff !important;
}
